h1, h4 {
	text-align: center;
}

/*body {
    background-color: #e0e1e6
}
*/

body {
    background-image: url(/static/home.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Form */
input[type=text], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.inp {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 25%;
    margin: auto;
} 

/* Main Menu */
.main_menu {
    width: 50%; /* Set a width if you like */
    margin: auto
}

.main_menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 24px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.main_menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.main_menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/* Home Button */
.hbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20%;
}

.hbutton:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

/* Table */
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: #f9f4f9;}
tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;

/* Image Padding */
img {
    padding-right: 20px;
}