<!doctype html>
<html>
<head>
	<link rel=stylesheet type=text/css href="/static/basic.css">
	<title>
		Add client - Munshi
	</title>
</head>

<body>

	<a href='/' class=hbutton>Home</a>
	
	<h1>
		Add Clients
	</h1>

	<div class="inp">
	<form method='post' align="center">
		<label>Name*:</label> <input type='text' name="name" list="namelist" value="{{name}}" required>
			<datalist id="namelist">
				{% for a in clist: %}
					<option value="{{a}}" />
				{% endfor %}
			</datalist><br>
		<label>{{detail1}}:</label> <input type='text' name="detail1" value='-'> <br>
		<label>{{detail2}}:</label> <input type='text' name="detail2" value='-'> <br>
		<label>{{detail3}}:</label> <input type='text' name="detail3" value='-'> <br>
		<label>{{detail4}}:</label> <input type='text' name="detail4" value='-'> <br>
		<label>{{detail5}}:</label> <input type='text' name="detail5" value='-'> <br>
		<input type='submit' value='Save'>
	</form>
	</div>
</body>
</html>
